*{
	font-family: "Arial", sans-serif;
	}
a{
        text-decoration: none;
        color:#FFFFFF;
}
a.inner:hover {
        text-decoration: underline;
}

body{
        background-image: url("pi.png");
        background-color:#000000;
        background-size: 100%;
        background-position: right center;
}
#left_pane{
	float:left;
	width:120px;
	background-color:#1F0937;
	padding:10px;
	padding-top:10px;
	text-align:center;
        border-style: solid;
        border-width: 2px;
        border-color: #FFFFFF;
        color: #FFFFFF;
	}
#right_pane{
	float:right;
        width:120px;
	background-color:#1F0937;
	padding:10px;
	padding-top:5px;
	text-align:center;
        border-style: solid;
        border-width: 2px;
        border-color: #FFFFFF;
	}
#main_pane{
        margin-left:120px;
        margin-right:120px;
        padding:10px;
        padding-top:0px;
}
div.button{
	text-align:center;
        padding-top:-5px;
	display: inline-block;
	color:#FFFFFF;
	width:100px;
	height:auto;
	background-color:#F63D07;
	margin:auto;
	margin-bottom:5px;
        border-style: solid;
        border-width: 1px;
        border-color: #FFFFFF;
        border-radius:8px;
	}
td{
        border:1px solid black;
        padding:10px;
        max-width:250px;
	}
h1,h2,h3,h4{
        color:#FFFFFF;
        align:centre;
        }
a{
        text-decoration: none;
}
div.post{
        width:auto;
        margin:20px;
        padding:10px;
        margin-top:0px;
        background-color:#1F0937;
        color:#FFFFFF;
        border-radius: 8px;
        border-style: solid;
        border-width: 2px;
        border-color: #FFFFFF;
} 	
p.label{
        float:right;
        font-size:12px;
}