*{
	font-family: "Arial", sans-serif;
	}
canvas{
	z-index:-1;
}
a{
	text-decoration: none;
	color:#FFFFFF;
}
a.inner:hover {
	text-decoration: underline;
}

#left_pane{
	float:right;
	width:30vw;
	background-color:#A20;
	padding:10px;
	padding-top:5px;
	margin-top:2px;
	text-align:center;
	border-style: solid;
	border-width: 4px;
	border-color: #111;
}

td{
	border:1px solid black;
	padding:0px;
}
h1,h2,h3,h4{
	color:#FFFFFF;
	align:centre;
}
p, div.button{
	color:#D8D8D8;
}
div.button{
	text-align:center;
	padding: 5px;
	display: block;
	position: relative;
	width:100px;
	height:auto;
	background-color:#222222;
	margin: 0 auto;
	border-style: solid;
	border-width: 2px;
	border-color: #D8D8D8;
	/*border-radius:8px;*/
	}
div.button:hover{
	cursor: pointer;
	background-color: #444;
}
.button_holder{
	text-align: center;
	width: 100%;
}
.button_holder .button{
	display: inline-block;
}
