p, h1, h2, h3, h4, h5, a, td, th{
	font-family: "Arial", sans-serif;
	}
body{
    background-color:#DDD;
    background-size: 100%;
    background-position:top left;
    background-repeat:no-repeat;
	/*background-image: url("../Untitled.png");*/
	z-index:-2;
}
#left_pane, #right_pane{
	width:45vw;
	background-color:#A20;
	padding:10px;
	padding-top:10px;
	margin-top:10px;
    border-style: solid;
    border-width: 2px;
    border-color: #111;
}
#left_pane{
	/*text-align:center;*/
	position:fixed;
	top:68px;
	left:10px;
	height:calc(100vh - 110px);
	overflow-y: auto;
}
#right_pane{
	float:right;
	min-height:calc(100vh - 110px);
	margin-bottom: 5px;
}
div.button{
	text-align:center;
	padding-top:-5px;
	display: block;
	position: relative;
	width:100px;
	height:auto;
	background-color:#222222;
	margin: 0 auto;
	border-style: solid;
	border-width: 2px;
	border-color: #D8D8D8;
	/*border-radius:8px;*/
	}
div.button:hover{
	cursor: pointer;
	background-color: #333;
}
.button_holder{
	text-align: center;
	width: 100%;
}
.button_holder .button{
	display: inline-block;
}
h1,h2,h3,h4,h5,th{
    color:#FFFFFF;
    align:centre;
        }
p,td,li{
    color:#D8D8D8;
    font-size:12pt;
}
a{
    text-decoration: none;
    font-weight: bold;
}
div.post{
    width:auto;
    margin:20px;
    padding:10px;
    margin-top:0px;
    background-color:#222;
    color:#D8D8D8;
    border-radius: 8px;
    border-style: solid;
    border-width: 2px;
    border-color: #D8D8D8;
}
table,td,th{
    border-style: solid;
    border-color: #D8D8D8;
}
td,th{
    border-width:1px;
    padding:12px;
}
table{
    width:100%;
    border-width: 2px;
}
img.post_image{
    max-height:256px;
    max-width:45%;
    float:left;
    margin-bottom:5px;
}
p.label{
    float:right;
    font-size:12px;
}
h1{
	margin-top:10px;
	margin-bottom:10px;
	position: fixed;
	left:calc(55vw - 44px);
	text-shadow: 1px 2px 3px #000;
}
.hljs{
	font-family: Consolas, monospace;
	font-size: 16px;
}
