*{
  font-family: "Arial", sans-serif;
}
video{
  width:100%;
}
body{
  background-color: #1F0937;
}
div.centre{
  display:block;
  width:80%;
  margin: auto;
}
div.button{
  text-align:center;
  color:#1F0937;
  width:100px;
  height:30px;
  background-color:#F63D07;
  border-radius:10px;
  margin-left:auto;
  margin-right:auto;
  display:block;
  font-size:24px;
}
a{
  text-decoration: none;
}